<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>          <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }} created by Phuse</title>
    <meta name="description" content="Wordpress general usage guide created by Phuse">
    <link rel="shortcut icon" href="{{ baseUrl }}/img/favicon.png" />
    <link rel="iconimg/" href="{{ baseUrl }}/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://phuse.ca/wp-content/themes/phuse2016/apple-touch-icon.png" />
    <!-- Mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <script src="//use.typekit.net/fea6ftu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- CSS -->
    <link href='{{ baseUrl }}/css/phuse.css' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ baseUrl }}/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}/js/custom.js"></script>

</head>

<body class="{{ bodyClass }}">
    <div class="container-fluid wrapper" style="position:relative">
        {% block navbar %}
            <div class="navbar navbar-fixed-top hidden-print">
                <div class="container-fluid">
                    <a class="brand navbar-brand pull-left" href="/"><span class="hide-text">Phuse</span> {{ title }}</a>        
                </div>
            </div>
        {% endblock navbar %}

        <div class="row columns content">

            {% block sidebar %}
                <div class="left-column article-tree col-sm-3 hidden-print left-column--full-height"></div>
                <div class="left-column article-tree col-sm-3 hidden-print">
                    <!-- For Mobile -->
                    <div class="responsive-collapse">
                      <button type="button" class="btn btn-sidebar" id="menu-spinner-button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    </div>

                    {% include 'navigation.twig' %}

                </div>
            {% endblock sidebar %}

            <div class="right-column content-area col-sm-9">
                <div class="content-page">
                  <article>
                    {% block content %}
                        {{ content|raw }}
                    {% endblock content %}
                  </article>
                </div>
            </div>

        </div><!--.rows.columns.content-->
    </div>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>
</html>
